.para{
        margin: 40px;
        background-color: rgb(232, 232, 39);
        width: 200px;
        padding: 20px;
    }
 .para1{
        border: 2px solid black;
        width: 350px;
    }
    div{
        margin-left: 100px;
    }
